.form-container {
    background-color: #87949f; /* Grigio scuro */
    padding: 2rem; /* Padding intorno al form */
    border-radius: 10px; /* Angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
    color: white; /* Colore del testo */
  }